@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --first-color: #023389;
  --second-color: #bb1e2f;
  --third-color: #20ba2b;
  --first-light-color: #d6e5ff;
  --second-light-color: #ffdadd;
  --third-light-color: #d9ffdc;
  --forth-light-color: #fffdd9;
  --white-color: #ffffff;
  --offwhite-color: #f1f1f1;
  --black-color: #000000;
  --review-color: #ffc400;
  --background-color: #eef3fb;
  --line-color: #b0b0b0;
  --first-font: "Outfit", sans-serif;
  --second-font: "Outfit", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: var(--first-font);
}
h4, h5, h6, p, li, a, small, label, button, td, .btn {
  font-family: var(--second-font);
}

body {
  background: var(--background-color) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
}

ul {
  margin-bottom: 0 !important;
  list-style: none;
  padding-left: 0 !important  ;
}

input::placeholder {
    font-family: var(--second-font);
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--rating-color);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--first-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
}


.form-control:focus {
    box-shadow: none !important;
    border: 1px solid var(--first-color) !important;
}
.form-select:focus {
    box-shadow: none !important;
    border: 1px solid var(--first-color) !important;
    background-color: rgb(255, 255, 255);
}

.accordion-button:not(.collapsed) {
    background-color: var(--white-color) !important;
    color: var(--first-color) !important;
}

.navbar-toggler {
  border: 1px solid var(--white-color) !important;
}
button:focus:not(:focus-visible) {
  box-shadow: none !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.offcanvas {
  background-color: var(--first-color) !important;
}
.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff' fill-opacity='1'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e") !important;
}

.nav-tabs .nav-link {
  color: var(--first-color) !important;
  border-radius: 8px;
  font-size: 18px;
}
.nav-tabs {
  border-bottom: 0 !important;
}
.nav-tabs .nav-link.active {
  background-color: var(--second-color) !important;
  color: var(--white-color) !important;
}