.subscribe_home {
    background-color: var(--forth-light-color);
    padding: 50px 0;
}
.subscribe_home h2 {
    font-size: 50px;
}
.subscribe_home button {
    background-color: var(--second-color);
    color: var(--white-color);
}
.subscribe_home button:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .subscribe_home {
        padding: 30px 0;
    }
    .subscribe_home h2 {
        font-size: 35px;
    }
}