#forgetRight {
    background-color: var(--white-color);
    padding: 50px;
}
#forgetRight button {
    background-color: var(--second-color);
    color: var(--white-color);
}
#forgetRight button:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}
.forgetPass_page {
    padding: 50px 0;
}
#forgetLogo {
    width: 180px !important;
}
#forgetLeft {
    background-image: url("../../../../public/image/forget.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#forgetRegisBtn {
    color: var(--first-color);
}
#forgetLoginBtn {
    color: var(--second-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .forgetPass_page {
        padding: 30px 0;
    }
    #forgetLeft {
        display: none;
    }
    #forgetRight {
        padding: 30px;
    }
}