#main_footer {
    background-color: var(--first-color);
    padding: 50px 50px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
#main_footer #column {
    width: 25%;
}
#main_footer .footerLogo {
    width: 200px !important;
    margin-bottom: 15px;
}
#main_footer p {
    color: var(--white-color);
}
#main_footer .footer_social ul li {
    display: inline-block;
    margin-right: 20px;
}
.footer_menu ul li {
    padding-bottom: 15px;
}
.footer_menu ul li a {
    color: var(--white-color);
}
.footer_services ul li {
    padding-bottom: 15px;
}
.footer_services ul li a {
    color: var(--white-color);
}
.footer_partnership ul li {
    padding-bottom: 15px;
}
.footer_partnership ul li a {
    color: var(--white-color);
}
.footer_contact ul li {
    color: var(--white-color);
    padding: 10px 0px;
}
.footerSubscribe {
    margin-top: 15px;
}
.footerSubscribe h5 {
    color: var(--white-color);
}
#main_footer .footer_social ul li a {
    font-size: 23px;
    color: var(--white-color);
}
#main_footer button {
    background-color: var(--second-color);
    color: var(--white-color);
}
.footer_social {
    margin-top: 25px;
}
#footerTimeDropDown {
    background-color: #97979785 !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    font-size: 16px;
}
#footerTimeDropDownItems {
    background-color: #2b2b2bf1 !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 0.835);
    width: 100%;
}
#main_footer h4 {
    margin-bottom: 25px;
    color: var(--white-color);
    font-size: 22px;
    font-weight: 600;
}
.footer_openign_time ul li {
    color: var(--white-color);
    padding-bottom: 10px;
}
#copywrite {
    background-color: var(--first-color);
    padding-top: 20px;
    padding-bottom: 20px;
}
#copywrite p {
    color: var(--white-color);
}
#copywrite p a {
    color: var(--white-color);
}
#copywrite ul li {
    display: inline-block;
    margin-left: 35px;
}
#copywrite ul li:first-child {
    margin-left: 0;
}
#copywrite ul li a {
    color: var(--white-color);
}
#copywrite hr {
    color: var(--white-color);
}

.downCarAnime{
    padding-top: 50px;
}
.downCarAnime img {
    width: 300px !important;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #main_footer {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #main_footer #column {
        width: 100%;
    }
    #main_footer .footerLogo {
        width: 170px !important;
    }
    #main_footer h4 {
        margin-top: 20px;
    }
    #copywrite {
        background-color: var(--first-color);
        padding-top: 20px;
        padding-bottom: 80px;
    }
    #copywrite p {
        text-align: center;
    }
    .footer_support_menu {
        text-align: center;
        margin-top: 20px !important;
    }
    .footer_support_menu ul {
        text-align: center !important;
    }
    .downCarAnime{
        padding-top: 30px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    #main_footer {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #main_footer #column {
        width: 50%;
    }
    #main_footer h4 {
        margin-top: 20px;
    }
    .downCarAnime{
        padding-top: 30px;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1100px) {
    #main_footer {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #main_footer #column {
        width: 50%;
    }
    #main_footer h4 {
        margin-top: 20px;   
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1500px) {
    #main_footer #column {
        width: 25%;
    }
}